name: image_converter
description: "Image Converter for Android"
publish_to: 'none'
version: 1.0.2+3

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2
  image_picker: ^1.0.7
  image: ^4.1.7
  share_plus: ^7.2.1
  path_provider: ^2.1.2
  gal: ^2.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.14.3

flutter:
  uses-material-design: true
  generate: true

flutter_launcher_icons:
  android: true
  ios: false
  image_path: "assets/icon.png"
  adaptive_icon_background: "#6750A4"
  adaptive_icon_foreground: "assets/icon.png"
